<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-filmotheque(
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{:: #ressources-css})}">

    <head>
        <!-- Détail comme titre de page -->
        <title>Créer</title>
        <!-- Ajout de CSS tp-table.css -->
        <th:block id="ressources-css">
            <link rel="stylesheet" data-th-href="@{/css/tp-contexte.css}">
        </th:block>

    </head>
    <body>	<!--~{} -->
        <main>
            <div>
                <h2>Création d'un Film [ EN COURS DE CONSTRUCTION ]</h2>
                <div>
                    <label>Genres : </label>
                    <select id="choix" name="choix">
                        <option data-th-each="item : ${genreSession}" data-th-text="${item.titre}" data-th-value="${item.id}"></option>
                    </select>
                </div>
            </div>
        </main>
    </body>
</html>